<p-confirmpopup />
<div class="contact-list">
  <p-toolbar>
    <h2 class="contact-list__heading" id="contacts-heading">Contacts</h2>
    <button
      (click)="openAdd()"
      [disabled]="loading()"
      icon="pi pi-plus"
      label="Add Contact"
      [rounded]="true"
      pButton
      type="button"
    ></button>
  </p-toolbar>

  <div aria-labelledby="contacts-heading" class="contact-list__content">
    @if (loading()) {
      <p-progressSpinner
        ariaLabel="Loading contacts"
        class="contact-list__spinner"
      ></p-progressSpinner>
    } @else {
      <p-table
        [value]="contacts()"
        [tableStyle]="{ 'min-width': '28rem' }"
        [responsiveLayout]="'scroll'"
        dataKey="id"
        ariaLabel="Contacts table"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col" class="contact-list__col-actions">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{ row.name }}</td>
            <td>
              <a href="tel:{{ row.phoneNumber }}">{{ row.phoneNumber }}</a>
            </td>
            <td>
              <div class="contact-list__actions-row">
                <button
                  pButton
                  type="button"
                  icon="pi pi-pencil"
                  label="Edit"
                  [rounded]="true"
                  (click)="openEdit(row)"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-trash"
                  label="Delete"
                  [rounded]="true"
                  [disabled]="loading()"
                  class="p-button-danger"
                  (click)="confirmDelete(row, $event)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">No contacts yet.</td>
          </tr>
        </ng-template>
      </p-table>
    }
  </div>

  <p-dialog
    (visibleChange)="dialogVisible.set($event)"
    [closable]="!saving()"
    [closeOnEscape]="!saving()"
    [draggable]="false"
    [header]="editing() ? 'Edit Contact' : 'Add Contact'"
    [modal]="true"
    [resizable]="false"
    [style]="{ width: '32rem' }"
    [visible]="dialogVisible()"
    ariaLabel="Contact form dialog"
  >
    <app-contact-form
      [model]="selected() ?? undefined"
      (submit)="onSubmit($event)"
      (cancel)="onCancel()"
    ></app-contact-form>
  </p-dialog>
</div>
