@use 'variables' as *;

.contact-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: $space-3;

  &__heading {
    margin: 0;
  }

  &__content {
    flex: 1 1 auto;
    overflow: auto;
  }

  &__spinner {
    width: 100%;
    height: 3rem;
  }

  a {
    color: inherit;
  }

  &__actions-row {
    display: flex;
    gap: $space-2;
  }

  &__col-actions {
    width: 10rem;
  }

  .p-toolbar {
    border-radius: $radius-xl;
  }

  .p-dialog .p-dialog-content {
    overflow: visible;
  }
}
