@use 'styles/variables' as *;

:root {
  --p-content-background: transparent !important;
}

body {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  color: $color-text;
  margin: 0;
}

::-webkit-scrollbar {
  width: 14px;

  &-thumb {
    border: 5px solid transparent;
    background-clip: content-box;
    border-radius: 100px;
    background-color: $color-secondary-text;

    &:hover {
      border: 3px solid transparent;
    }
  }
}
